@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

body {
  background: #fcfcfc;
}
.container {
  position: fixed;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.9;
  width: 500px;
  height: 575px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255)
}
.container h2 {
  padding-top: 20px;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.input-box {
  display: flex;
  flex: 1;
  margin-left: 10px;
  padding-left: 50px;
  padding-top: 30px;
  border-radius: 10px;
  letter-spacing: 0.7em;
  margin-inline-start: 10px;
  padding: 15px;

}
.input-box input {
  flex: 1; /* A caixa de texto irá ocupar todo o espaço restante */
  padding: 10px; /* Adicionar algum preenchimento para melhorar a aparência */
  margin-left: 3.5px; /* Adicionar espaço entre o ícone e a caixa de texto */
  border: 1px solid #000000; /* Adicionar uma borda para definir a caixa de texto */
  border-radius: 5px; /* Adicionar bordas arredondadas */
}
.input-box i {
  font-size: 19px; /* Definir o tamanho do ícone */
  margin-right: 10px;
  margin-top: 10px; /* Adicionar espaço entre o ícone e a caixa de texto */
}
.container .Box{  
  position:absolute;
  width: 12vw;
  height: 7vh;
  top: 89%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(0, 0, 0);
  color: #ffffff;
  text-align: center;
  padding: 15px;
  font-weight: 700;
  font-size: 1.50em;
  letter-spacing: 0.05em;
  cursor: pointer;
  border-radius: 4px;
}
.background_image{
  position:relative;
  width:100%;
  height: 100%;
}

@media only screen and (max-width: 500px) {


  .container {
    max-width: 70%; /* Alterar a largura máxima para ocupar 100% da largura da tela */
  }

  .container h2 {
    font-size: 20px; /* Reduzir o tamanho da fonte */
  }

  .input-box i {
    font-size: 14px; /* Reduzir o tamanho do ícone */
  }

  .container .Box {
    width: 24vw;
    height: 4vh;
    top: 88%;
    left: 50%;
    font-weight: 550;  
    padding: 5px;
  }
}