<!DOCTYPE html>
<html>

<head>
	<title>Pizza Time</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/public/css/style_create.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
	<div class="background_image">
		<img class="background_image" src="/public/images/pizza_image.jpg">
	</div>
	<!-- Navbar (sit on top) -->
	<div class="w3-top">
		<div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
			<a href="/home" class="w3-bar-item w3-button">Your favorite pizza !!!</a>
			<!-- Right-sided navbar links. Hide them on small screens -->
			<div class="w3-right w3-hide-small">
				<a href="/home" class="w3-bar-item w3-button">Home</a>
				<a href="/login" class="w3-bar-item w3-button">Login</a>
				<a href="/contact" class="w3-bar-item w3-button">Contact</a>
				<a href="/information" class="w3-bar-item w3-button">Information</a>
			</div>
		</div>
	</div>

	<div class="container" style="z-index: 1;">

		
		<!-- Account creation form -->



			<h2>Create Account</h2>
			
			<div class="input-box">

				<i class='bx bxs-user'></i>
				<input type="text" placeholder="Name" required>
			</div>

			<div class="input-box">

				<i class='bx bx-user-check'></i>
				<input type="text" placeholder="Username" required>
			</div>

			<div class="input-box">
				<i class='bx bx-envelope'></i>
				<input type="email" placeholder="Email" required>
			</div>

			<div class="input-box">
				<i class='bx bxs-lock-alt'></i>
				<input type="password" placeholder="Password" required>
			</div>

			<div class="input-box">
				<i class='bx bxs-lock'></i>
				<input type="password" placeholder="Confirm Password" required>
			</div>

			<div class="inputBox"> 

				<a href="/login" class="Box">Done</a> 
			 
			</div> 

		</form>
	</div>
		


	</div>