<!DOCTYPE html>
<html>

<head>
  <title>Pizza Time</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/public/css/style_home.css">
  <style>
    body {
      font-family: "Times New Roman", Georgia, Serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Playfair Display";
      letter-spacing: 5px;
    }
  </style>
</head>

<body>

  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
      <a href="/home" class="w3-bar-item w3-button">Your favorite pizza !!!</a>
      <!-- Right-sided navbar links. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
        <a href="/contact" class="w3-bar-item w3-button">Contact</a>
        <a href="/information" class="w3-bar-item w3-button">Information</a>
      </div>
    </div>
  </div>

  <!-- Header -->
  <header style="padding-top: 100px; padding-left: 100px; font-weight: bold;" id="home">
    <div>
      <h1 class="principal_title">Le Catering</h1>
    </div>
  </header>

  <!-- Page content -->
  <div style="max-width:1100px">

    <!-- About Section -->

    <div class="slice_pizza">
      <img src="images/pepe_pizz.jpg" class="slice_pizza">
    </div>

    <div>
      <h1 class="main_title">About Catering</h1><br>

      <h5 class="sub_title">Tradition since 1889</h5>

      <p class="text_align">The Catering was founded in blabla by Mr. Smith in lorem ipsum dolor sit amet, consectetur
        adipiscing elit consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute iruredolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.We only use seasonal ingredients.</p>

      <p class="text_align">Excepteur sint occaecat cupidatat non proident, sunt in culpa
        qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod temporincididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat.</p>

    </div>

  </div>

  <!-- Menu Section -->

  <div class="image_cardapio">
    <img src="images/menu-pizza.jpg" class="image_cardapio">
  </div>

    <div>
      <h1 class="principal_title">Our Menu</h1><br>

      <h2 class="main_title">REGULAR PIZZAS</h2><br>

      <h4 class="sub_title">Margherita Pizza</h4>

      <p class="text_align">Fresh mozzarella, tomato sauce and basil;</p><br>

      <h4 class="sub_title">Pepperoni Pizza</h4>

      <p class="text_align">Tomato sauce, mozzarella cheese and pepperoni;</p><br>

      <h4 class="sub_title">Hawaiian Pizza</h4>

      <p class="text_align">Tomato sauce, mozzarella cheese, ham and pineapple;</p><br>

      <h4 class="sub_title">Meat Lover's Pizza</h4>

      <p class="text_align">Tomato sauce, mozzarella cheese, pepperoni, sausage, bacon and ham.</p><br>

      <h2 class="main_title">SPECIALTY PIZZAS</h2><br>

      <h4 class="sub_title">BBQ Chicken Pizza</h4>

      <p class="text_align">BBQ sauce, mozarrella cheese, grilled chicken, red onions & cilantro;</p><br>

      <h4 class="sub_title">White Pizza</h4>

      <p class="text_align">Mozarrella cheese, ricotta cheese, garlic and spinach;</p><br>

      <h4 class="sub_title">Buffalo Chicken Pizza</h4>

      <p class="text_align">Buffalo sauce, mozarella cheese, grilled chicken, red onions & blue cheese crumbles;</p>
      <br>

      <h4 class="sub_title">Pesto Pizza</h4>

      <p class="text_align">Pesto sauce, mozzarella cheese, sun-dried tomatoes, and chicken.</p><br>
    </div>

  <hr>

  </div>
</body>

</html>