<!DOCTYPE html>
<html>

<head>
  <title>Pizza Time</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/css/style_home.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <style>
    body {
      font-family: "Times New Roman", Georgia, Serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Playfair Display";
      letter-spacing: 2.5px;
    }
  </style>
</head>

<body>

  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
      <a href="public/templates/menu.html" class="w3-bar-item w3-button">Your favorite pizza !!!</a>
      <!-- Right-sided navbar links. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
        <a href="public/templates/login.html" class="w3-bar-item w3-button">Login</a>
        <a href="public/templates/create_account.html" class="w3-bar-item w3-button">Create account</a>
        <a href="public/templates/contact.html" class="w3-bar-item w3-button">Contact</a>
        <a href="public/templates/information.html" class="w3-bar-item w3-button">Information</a>
      </div>
    </div>
  </div>

  <!-- Menu Section -->

  <div class="image_cardapio">
    <img src="/public/images/menu-pizza.jpg" class="image_cardapio">
  </div>

    <div style="padding-top: 100px; padding-left: 50px;">
      <h1 class="principal_title" style= "justify-self: center;">Our Menu</h1><br>

      <h2 class="main_title" style= "padding-left: 200px;">REGULAR PIZZAS</h2><br>

      <h4 class="sub_title">Margherita Pizza</h4>

      <p class="text_align">Fresh mozzarella, tomato sauce and basil;</p><br>

      <h4 class="sub_title">Pepperoni Pizza</h4>

      <p class="text_align">Tomato sauce, mozzarella cheese and pepperoni;</p><br>

      <h4 class="sub_title">Hawaiian Pizza</h4>

      <p class="text_align">Tomato sauce, mozzarella cheese, ham and pineapple;</p><br>

      <h4 class="sub_title">Meat Lover's Pizza</h4>

      <p class="text_align">Tomato sauce, mozzarella cheese, pepperoni, sausage, bacon and ham.</p><br>

      <h2 class="main_title" style= "padding-left: 200px;">SPECIALTY PIZZAS</h2><br>

      <h4 class="sub_title">BBQ Chicken Pizza</h4>

      <p class="text_align">BBQ sauce, mozarrella cheese, grilled chicken, red onions & cilantro;</p><br>

      <h4 class="sub_title">White Pizza</h4>

      <p class="text_align">Mozarrella cheese, ricotta cheese, garlic and spinach;</p><br>

      <h4 class="sub_title">Buffalo Chicken Pizza</h4>

      <p class="text_align">Buffalo sauce, mozarella cheese, grilled chicken, red onions & blue cheese crumbles;</p>
      <br>

      <h4 class="sub_title">Pesto Pizza</h4>

      <p class="text_align">Pesto sauce, mozzarella cheese, sun-dried tomatoes, and chicken.</p><br>
    </div>

  <hr>

  </div>
</body>

</html>